


.product-image-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    z-index: 9999;
    display: none;
}

.product-image-overlay .product-image-overlay-close {
    display: block;
    position: absolute;
    top: 20px;
    left: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #eee;
    line-height: 35px;
    font-size: 20px;
    color: #eee;
    text-align: center;
    cursor: pointer;
}

.product-image-overlay img {
    width: auto;
    max-width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}



.section-style{
	background-attachment:inherit;
	background-position:50% 0;
	background-repeat:no-repeat;
	margin:0 auto;
	width:100%;
	background-size:cover;
}
.feature-wrap i {
    font-size: 48px;
    height: 110px;
    width: 110px;
    margin: 3px;
    border-radius: 100%;
    line-height: 110px;
    text-align: center;
    background: #ffffff;
    color: #0066CC;
    border: 3px solid #ffffff;
    box-shadow: inset 0 0 0 5px #f2f2f2;
    -webkit-box-shadow: inset 0 0 0 5px #f2f2f2;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -o-transition: 500ms;
    transition: 500ms;
    float: left;
    margin-right: 25px;
}
.gmap {
    border: 10px solid #f6f5f0;
    border-radius: 50%;
    height: 300px;
    width: 300px;
    box-shadow: 0px 0px 3px 3px #e7e4dc;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}
.gmap-area {
   
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 70px 0;
}
element.style {
    width: 184px;
}
gm-style .place-card-medium {
    width: auto;
    padding: 9px 11px 9px 11px;
}
address { 
    color:black;
    display: block;
    font-style: italic;
}